@media (max-width: 600px) {
    #footer {
        display: none !important;
    }

    .game-ui .game-title {
        font-size: 1rem;
    }

    .alien {
        font-size: 1rem !important;
    }

    .game-over-text {
        font-size: 1.5rem !important;
        margin-bottom: 0 !important; 
        padding-top: 4rem;
    }

    .score-number {
        margin-top: 1rem !important;
    }

    .score-text {
        margin-bottom: 2rem !important;
        font-size: 1.5rem !important;
    } 

    #startButton img,
    #restartScreen img {
        width: 10rem;
    }

    #startButton .start-button,
    #restartScreen .restart-button {
        font-size: 2rem;
    }

    #startButton {
        margin-top: 1rem;
    }
}